<!DOCTYPE html>
<html lang="es-ES">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/UserStoy2.js" type="text/javascript"></script>
    <title>Historial fichajes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css')}}" crossorigin="anonymous">
</head>

<body>
    <script>
        window.addEventListener('load', loadEvents);
    </script>

    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">

        <div>
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#abajo">Último registros</a></li>
            </ul>
        </div>
    </nav>

    <!--Tabla-->
    <div class="container">
        <div class="table-responisve">
            <table id="fichajes" class="table table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Tipo</th>
                        <th>Dia</td>
                        <th>Mes</th>
                        <th>Año</th>
                        <th>Hora</th>
                        <th>Localización</th>
                    </tr>
        </div>
    </div>
    <a name="abajo"></a>
    <script src="/static/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="/static/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>
</body>

</html>